# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
vless_router.py
_tcl_hook.py

# Venv
.venv/
venv/
env/

# PyInstaller output
dist/
build/
*.spec.bak
*.spec

# Xray generated config not using this now
.xray_config.json

# Runtime settings not using this now
dpibypass_settings.json

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db


